# Logs
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Sistema operacional / editor
.DS_Store
Thumbs.db
.vscode/
.idea/


# BACKEND (Node)       #


# Dependências
backend/node_modules/

# Builds (caso gere)
backend/dist/
backend/build/

# Arquivos de ambiente / segredos
backend/.env
backend/.env.local
backend/.env.development
backend/.env.production

# Credenciais Firebase 
*firebase-adminsdk*.json
backend/**/service-account*.json
backend/**/sa-*.json

# Pastas de trabalho / runtime (não versionar)
backend/uploads/
backend/transcriptions/
backend/work/
uploads/
transcriptions/

# Credenciais específicas
psico-suporte-ufc-firebase-adminsdk-fbsvc-d9d3495279.json

# FRONTEND (Vite/React)#


# Dependências
frontend/node_modules/

# Build do Vite
frontend/dist/

# Env do front (se existir)
frontend/.env
frontend/.env.local
frontend/.env.development
frontend/.env.production
